html {
  box-sizing: border-box;
  background: #eeeeee;
  font-family: 'helvetica neue';
  /*font-size: 10px;
  font-weight: 100;*/
}

body {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.site-wrap {
  width: 80%;
  margin: 70px auto;
  background: white;
  padding: 40px;
  text-align: justify;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  transform: scale(0.98);
  transition: transform 0.5s;
}

body.fixed-nav .site-wrap {
  transform: scale(1);
}

header {
  text-align: center;
  height: 60vh;
  background: url() bottom center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  padding-top: 15%;
 /* font-size: 15vw;*/
  font-family: 'britannic';
  text-shadow: 6px 7px 0 rgba(2,3,0,2.2);
}

h2 {
  font-family: 'Rockwell';
  text-shadow: 2px 3px 0 rgba(0,0,0,0.2);
}

nav {
  top: 0;
  width: 100%;
  transition:all 0.5s;
  position: relative;
  z-index: 1;
  background-color: #FF8C11;
}

body.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px 0 rgba(0,0,0,0.2);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.logo {
  max-width: 0;
  overflow: hidden;
  /*background: #FF8C00;*/
  transition: all 0.5s;
  font-weight: 600;
  font-size: 30px;
}

/*li.logo a {
  color: white;
}
*/
.rounded {
width: 50px;
height: 50px;
}

.fixed-nav li.logo {
  max-width: 70px;

}

nav a {
  text-decoration: none;
  display: inline-block;
  color: white;
  transition: all 0.2s;
  text-transform: uppercase;
}
.align-left {
  float: left;
  margin-right: 20px;
}

.align-right {
  float: right;
  margin-left: 20px;
}

.slide-in {
height: 70%;
width: 70%;
opacity: 0;
transition: all .5s;
}

.align-left.slide-in {
  transform: translateX(-30%) scale(0.95);
}
    
.align-right.slide-in {
  transform: translateX(30%) scale(0.95);
}

.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}

footer {
  width: 100%;
  height: 100%;
  border-top: 5px solid #FF8C00;
  background-color: #696969;
  color: white;
  padding-top: 30px;
}

iframe {
  width: 95%;
  float: center;
  border: 0;
}

time {
  font-size: 1px;
}